<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/public/stylesheets/style.css">
</head>


<body>

	<div class="fixed-header">
		<h3 style="margin-left: 15px;">Movies</h3>
		<ul class="nav nav-tabs">
			<li><a href="/movies">Home</a></li>
			<li><select
				style="margin-top: 13px; border: none; background-color: #000; margin-right: 25px;">
					<option value="default">Genre</option>
					<option value="a">All</option>
					<option value="b">Action</option>
					<option value="c">Comedy</option>
					<option value="d">Romance</option>
					<option value="e">Adventure</option>
			</select></li>
			<li><select
				style="margin-top: 13px; border: none; background-color: #000;">
					<option value="default">Country</option>
					<option value="a">USA</option>
					<option value="b">India</option>
					<option value="c">France</option>
					<option value="d">Spain</option>
			</select></li>
			<li><select
				style="margin-top: 13px; border: none; background-color: #000; margin-left: 25px;">
					<option value="default">Language</option>
					<option value="a">English</option>
					<option value="b">Hindi</option>
					<option value="c">French</option>
					<option value="d">Spanish</option>
			</select></li>
		</ul>
		<form>
			<input type="text" name="search"
				placeholder="Enter your movie name here...." width="100%"
				style="margin-top: 5px; margin-bottom: 2px">
		</form>
		<button type="button" class="btn btn-primary"
			style="position: absolute; top: 30px; right: 50px;">Login</button>
	</div>


	<div class="container"
		style="position: absolute; top: 105px; width: 100%;">
		<h2></h2>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			
			<% for(var i=0; i<movies.length;i++) { %>
				<% if(i==0) { %>

					<div class="item active">
						<p>
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 100%; height: 400px;">
	
							</a>
						</p>
					</div>
				
				<% } else { %>
					<div class="item">
	
						<p>
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 100%; height: 400px;">
							</a>
						</p>
	
					</div>
		        <% } %>
		        <% } %>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel"
				data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>

		<h2>Suggestions</h2>
		<div class="item">
			<p>
				<div class="item">
				<% for(var i=0; i<movies.length;i++) { %>
				
	
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 200px; height: 200px;">
							</a>
		        <% } %>
				</div>
			</p>
		</div>
		
		<ul class="nav nav-tabs">
			<li><a data-toggle="tab" href="#All">All</a></li>


			<li><a data-toggle="tab" href="#Action">Action</a></li>
			<li><a data-toggle="tab" href="#Comedy">Comedy</a></li>
			<li><a data-toggle="tab" href="#Romance">Romance</a></li>
			<li><a data-toggle="tab" href="#Adventure">Adventure</a></li>

		</ul>

		<div class="tab-content" style="padding-bottom: 120px;">
			<div id="All" class="tab-pane fade in active">
				<h3>All</h3>
				<p>
				<div class="item">
				<% for(var i=0; i<movies.length;i++) { %>
				
	
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 200px; height: 200px;">
							</a>
	
		        <% } %>
				</div>
			</p>
			</div>
			<div id="Action" class="tab-pane fade">
				<h3>Action Movies</h3>
				<p>
				<% for(var i=0; i<movies.length;i++) { %>
					<% if(movies[i].genre.indexOf("Action") > -1) { %>
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 200px; height: 200px;">
	
							</a>
			        <% } %>
		        <% } %>
				</p>
			</div>
			<div id="Romance" class="tab-pane fade">
				<h3>Romance</h3>
				<p>
				<% for(var i=0; i<movies.length;i++) { %>
					<% if(movies[i].genre.indexOf("Romance") > -1) { %>
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 200px; height: 200px;">
	
							</a>
			        <% } %>
		        <% } %>
				</p>
			</div>
			<div id="Comedy" class="tab-pane fade">
				<h3>Comedy</h3>
				<p>
				<% for(var i=0; i<movies.length;i++) { %>
					<% if(movies[i].genre.indexOf("Comedy") > -1) { %>
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 200px; height: 200px;">
	
							</a>
			        <% } %>
		        <% } %>
				</p>
			</div>
			<div id="Adventure" class="tab-pane fade">
				<h3>Adventure</h3>
				<p>
				<% for(var i=0; i<movies.length;i++) { %>
					<% if(movies[i].genre.indexOf("Adventure") > -1) { %>
							<a href="/movies/show/<%= movies[i]._id %>"> <img
								src="/public/images/<%= movies[i].movie_name%>.jpg"
								alt="Los Angeles" hspace="10px"
								style="width: 200px; height: 200px;">
	
							</a>
			        <% } %>
		        <% } %>
				</p>
			</div>
		</div>
	</div>

	<div class="fixed-footer">
		<div class="row">
			<div class="col-md-12">Omovies - Free online movies, here you can watch movies online in high quality for free without annoying advertising, just come and enjoy your movies. You also can download movie, subtitles to your pc to watch offline.</div>
			<div class="col-md-12">Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.</div>
			<div class="col-md-3">FAQ</div>
			<div class="col-md-3">Contact Us</div>
			<div class="col-md-3">Sitemap</div>
			<div class="col-md-3">Copyright &copy; 2017</div>
			<div class="col-md-12"><a href="#" class="fa fa-facebook" style="margin-left: -20px;"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-instagram"></a></div>
		</div>
	</div>

</body>
</html>
